{% extends "base.html" %}
{% load static %}
{% block content %}
    <section id="hero">
        <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
            <h1>Study. Develop. Teach.</h1>
            <h2>Welcome to my portfolio page</h2>
            <div class="d-flex">
                <a href="#skills" class="btn-get-started scrollto">Get Started</a>
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">
        <!-- ======= Skills Section ======= -->
        <section id="skills" class="features">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Information</h2>
                    <p>About me</p>
                </div>

                <ul class="nav nav-tabs row d-flex">
                    <!-- Education Tab Button -->
                    <li class="nav-item col-3">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                            <i class="ri-bank-line"></i>
                            <h4 class="d-none d-lg-block">Education</h4>
                        </a>
                    </li>
                    <!-- Experience Tab Button -->
                    <li class="nav-item col-3">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                            <i class="ri-briefcase-4-line"></i>
                            <h4 class="d-none d-lg-block">Experience</h4>
                        </a>
                    </li>
                    <!-- Competence Tab Button -->
                    <li class="nav-item col-3">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                            <i class="ri-terminal-line"></i>
                            <h4 class="d-none d-lg-block">Competence</h4>
                        </a>
                    </li>
                    <!-- Certification Tab Button -->
                    <li class="nav-item col-3">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                            <i class="ri-book-mark-line"></i>
                            <h4 class="d-none d-lg-block">Certification</h4>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <!-- Education Tab Button -->
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Bachelor's Degree</h3>
                                <p class="fst-italic">
                                    Bachelor in Cybersecurity 2020 Faculty of CyberSecurity and Informational
                                    Technologies NU
                                    "OLA"
                                </p>
                                <ul>
                                    <li><i class="bx bx-check-double"></i>Educational program name: Cybersecurity
                                    </li>
                                    <li><i class="bx bx-check-double"></i>Diploma average score: 96.5
                                    </li>
                                    <li><i class="bx bx-check-double"></i>Qualification work: "Cryptographic quality
                                        analysis of
                                        hash function "Kupina" DSTU 7564: 2014"
                                    </li>
                                </ul>
                                <h3>Master's Degree</h3>
                                <p class="fst-italic">
                                    Master in system analysis graduation in 2023 Faculty of CyberSecurity and
                                    Informational Technologies NU "OLA"
                                </p>
                                <ul>
                                    <li><i class="bx bx-check-double"></i>Educational program name: Data analysis and
                                        protection
                                    </li>
                                    <li><i class="bx bx-check-double"></i>Diploma average score: --
                                    </li>
                                    <li><i class="bx bx-check-double"></i>Qualification work: --
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="{% static 'img/features_education.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <!-- Experience Tab Button -->
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Experience</h3>
                                <h5>
                                    Laboratory assistant CyberSecurity department of the faculty of CyberSecurity and
                                    Informational Technologies september 2019 – current days
                                </h5>
                                <ul>
                                    <li><i class="ri-check-double-line"></i>Software Development
                                    </li>
                                    <li><i class="ri-check-double-line"></i>"Smart Lab" Project Leader
                                    </li>
                                    <li><i class="ri-check-double-line"></i>Maintaining computer networks and servers
                                    </li>
                                    <li><i class="ri-check-double-line"></i>Administrating of computers and internal
                                        security equipment (cameras, motion detectors, card-passes
                                        etc.)
                                    </li>
                                </ul>
                                <h5>
                                    Teacher in Odessa Professional College of Computer Technology September 2021 –
                                    current days
                                </h5>
                                <ul>
                                    {% for discipline in discipline_list %}
                                        <li><i class="ri-check-double-line"></i>{{ discipline.name }}
                                            {% if discipline.link %}
                                                <a href="{{ discipline.link }}" target="_blank">(link)</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center align-items-center h-100">
                                <img src="{% static 'img/features-teaching.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <!-- Competence Tab Button -->
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Skills & Abilities</h3>
                                <ul>
                                    {% for skill in skill_list %}
                                        <li><i class="ri-check-double-line"></i> {{ skill.name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="{% static 'img/features-skills.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <!-- Certification Tab Button -->
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Informal education courses certifications</h3>
                                <ul>
                                    {% for certificate in certificate_list %}
                                        <li><i class="bx bx-check-double"></i>({{ certificate.authority }})<a href="
                                            {% if certificate.file %}
                                                {{ certificate.file.url }}
                                            {% elif certificate.link %}
                                                {{ certificate.link }}
                                            {% endif %}
                                        " target="_blank"> {{ certificate.name }}
                                        </a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="{% static 'img/features-certificates.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Features Section -->
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Portfolio</h2>
                    <p>My Projects</p>
                </div>
                <!-- Portfolio categories filter buttons -->
                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            {% for category in category_list %}
                                <li data-filter=".filter-{{ category }}">{{ category }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Project list -->
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    {% for project in project_list %}
                        {% if project.link %}
                            <a href="{{ project.link }}" class="details-link" title="{{ project.link }}"
                               target="_blank">
                        {% endif %}
                        <div class="col-lg-3 col-md-6 portfolio-item filter-{{ project.category }}">
                            <img src="{{ project.image.url }}" class="img-fluid" alt="{{ project.title }}">
                            <div class="portfolio-info">
                                <h4>{{ project.name }}
                                    <p>{{ project.description }}</p>
                                </h4>
                            </div>
                        </div>
                        {% if project.link %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section><!-- End Portfolio Section -->
        <!-- ======= Contacts Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <div class=" section-title">
                    <h2>Contact</h2>
                    <p>Contact me</p>
                </div>
                <div class="row">
                    <!-- Contact cards -->
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="mailto:zolotoverkhdenis@gmail.com">
                                    <div class="info-box mt-4">
                                        <i class="bx bx-envelope"></i>
                                        <h3>Email</h3>
                                        <p>zolotoverkhdenis@gmail.com</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="https://t.me/denis_zol" target="_blank">
                                    <div class="info-box mt-4">
                                        <i class="bx bxl-telegram"></i>
                                        <h3>Telegram</h3>
                                        <p>@denis_zol</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="tel:+380685210824">
                                    <div class="info-box mt-4">
                                        <i class="bx bx-phone-call"></i>
                                        <h3>Phone</h3>
                                        <p>+380 68 521 0824</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 nav-link">
                                <a href="https://github.com/denis-source" target="_blank">
                                    <div class="info-box mt-4">
                                        <i class="bx bxl-github"></i>
                                        <h3>GitHub</h3>
                                        <p>denis-source</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 nav-link">
                                <a href="https://us04web.zoom.us/j/6358991895?pwd=YjRkaWhYWkVVbkZRT2JyZCtzOHU3dz09"
                                   target="_blank">
                                    <div class="info-box mt-4">
                                        <i class="bx bxl-zoom"></i>
                                        <h3>Zoom</h3>
                                        <p>635 899 1895</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 nav-link">
                                <a href="https://www.linkedin.com/in/denis-zolotoverkh-a2a0b419a/" target="_blank">
                                    <div class="info-box mt-4">
                                        <i class="bx bxl-linkedin"></i>
                                        <h3>LinkedIn</h3>
                                        <p>denis-zolotoverkh</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Contact form -->
                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <form action="/" method="POST" role="form" class="php-email-form mt-4">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                           placeholder="Your Name"
                                           required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                       placeholder="Subject"
                                       required>
                            </div>
                            <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                      required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center">
                                <button type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section><!-- End Contact Section -->
    </main>
{% endblock %}